# Ignorar .env por segurança
.env

#Ignora todos os tipos de binários que podem ser gerados
nfse
.dll
.exe
bin/*
!bin/.gitkeep

#Ignora arquivos gerados pelo vscode ou Goland
.vscode
.idea

#Ignora qualquer pasta com nome logs e a pasta de testes de API que uso com pequenos projetos para testes
logs/
NFs/
/.TESTES_nao-coloque-no-github

#Ignora código antigo
bot*

#Ignora credenciais importantes
service_account.json

#Ignora arquivo local
.text.txt